<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">

        <div class="demo demo4">
          <h2 class="heading mt-5 mb-3">会員情報編集&emsp;</h2>
        </div>
        <%= form_with model: @customer, url: customer_customers_path, method: :patch, local: true do |f| %>
          <table>
            <tr>
              <td><%= f.label :"氏名" %></td>
              <td><%= f.text_field :last_name %>&emsp;&emsp;<%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <td><%= f.label :"フリガナ" %></td>
              <td><%= f.text_field :kana_last_name %>&emsp;&emsp;<%= f.text_field :kana_first_name %></td>
            </tr>
            <tr>
              <td><%= f.label :"郵便番号" %></td>
              <td><%= f.text_field :postcode %></td>
            </tr>
            <tr>
              <td><%= f.label :"住所" %></td>
              <td><%= f.text_field :address, size: "50x20" %></td>
            </tr>
            <tr>
              <td><%= f.label :"電話番号" %></td>
              <td><%= f.text_field :phone_number %></td>
            </tr>
            <tr>
              <td><%= f.label :"メールアドレス" %></t>
              <td><%= f.text_field :email %></td>
            </tr>
          </table>
          <div class="w-50 mx-auto mt-3 mb-5">
            <p>
              <%= f.submit "編集内容を保存", class: "btn btn-outline-secondary mr-2"  %>
              <%= link_to "退会する", customer_customers_exit_check_path, class: "btn btn-outline-secondary" %>
            </p>
          </div>
        <% end %>

    </div>
  </div>
</div>