<table>
    <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.excluding_price %></td>
        <td><%= item.category %></td>
        <td><%= item.is_deleted %></td>
    </tr>
    <% end %>
</table>
