<div calss="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-auto">
      <h2>新着商品</h2>
      <div class="row mb-2">
        <% @items.each do |item| %>
      <div>
        <%= link_to item_path(item.id) do %>
        <%= attachment_image_tag item, :image, fallback: 'no_image.jpg', size: '200x150', format: 'jpg', class: '' %>
        <% end %><br>
        <%= item.name %><br>
        ¥<%= item.excluding_price %>
      </div>
        <% end %>
      </div><!--row mb-2-->
      <%= link_to "全ての商品を見る＞", items_path, class: "float-right" %>
    </div><!--auto-->
  </div><!--row-->
</div><!--container-->