<h2>注文情報確認</h2>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込み）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <% sum = 0 %>
  <% @cart_items.each do |cart_item| %>
    <tbody>
      <tr>
        <td><%= attachment_image_tag cart_item.item, :image, size: '80x65', format: 'jpg' %>
        <%= cart_item.item.name %></td>
        <td><%= (cart_item.item.excluding_price*1.08).floor %></td>
        <td><%= cart_item.amount %></td>
        <td><%= ((cart_item.item.excluding_price*1.08)*(cart_item.amount)).floor %></td>
      </tr>
    </tbody>
  <% sum += (cart_item.item.excluding_price)*(cart_item.amount) %>
  <% end %>
</table>

<%= form_with model: @order, url: orders_path, local: true do |f| %>
  <table>
      <tbody>
          <tr><td>送料</td><td><%= f.label :postage, "800" %></td></tr>
          <tr><td>商品代合計</td><td><%= (sum*1.08).floor %></td></tr>
          <tr><td>請求金額</td><td><%= f.label :amount_charged, "#{(sum*1.08).floor + 800}" %></td></tr>
      </tbody>
  </table>
  <p>お支払い方法 <%= @order.payment_method %></p>
  <p>お届け先 <%= @customer.postcode %><%= @customer.address %></p>
  <p><%= @customer.fullname %></p>
  <%= f.submit "注文を確定する" %>
<% end %>

