<div class="container">
<h1>注文履歴詳細</h1>
<div class="row font-weight-bold">
<div class="col-sm-8">
<p>注文情報</p>
<table class="table table-bordered table-light" style="width:600px;">
    <tr><td class="bg-dark" style="width:100px; color:white;">注文日</td><td><%= @order.created_at.strftime("%Y/%m/%d") %></td></tr>
    <tr><td class="bg-dark" style="width:100px; color:white;">配送先</td><td>〒<%= @order.postcode %><br><%= @order.address %><br><%= @order.name %></td></tr>
    <tr><td class="bg-dark" style="width:100px; color:white;">支払方法</td><td><%= @order.payment_method %></td></tr>
    <tr><td class="bg-dark" style="width:100px; color:white;">ステータス</td><td><%= @order.order_status_i18n %></td></tr>
</table>
</div>
<div class="col-sm-4">
<p>請求情報</p>
<table class="table table-bordered table-light" style="width:300px;">
    <tr><td class="bg-dark" style="color:white;">商品合計</td><td><%= (@order.amount_charged - @order.postage).to_s(:delimited, delimiter: ',') %>円</td></tr>
    <tr><td class="bg-dark" style="color:white;">配送料</td><td><%= @order.postage %>個</td></tr>
    <tr><td class="bg-dark" style="color:white;">ご請求金額</td><td><%= (@order.amount_charged).to_s(:delimited, delimiter: ',') %>円</td></tr>
</table>
</div>
</div>


<p style="font-weight: bold;">注文内容</p>
<table class="table table-borderedt table-light font-weight-bold" style="width:800px;">
    <thead>
        <th class="bg-dark" style="color:white;">商品</th>
        <th class="bg-dark" style="color:white;">単価（税込）</th>
        <th class="bg-dark" style="color:white;">個数</th>
        <th class="bg-dark" style="color:white;">小計</th>
    </thead>
    <tbody>
        <% @order_items.each do |order_item| %>
        <tr>
            <td><%= order_item.item.name %></td><td><%= ((order_item.purchase_price * 1.08).round(0)).to_s(:delimited, delimiter: ',') %>円</td><td><%= order_item.ordered_qty %>個</td><td><%= ((order_item.purchase_price * 1.08).round(0) * order_item.ordered_qty).to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>